{% extends "network/layout.html" %}

{% block body %}
    
    <div id="posts">
        {% for post in posts %}

            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{% url 'profile' post.author.id %}">{{ post.author }}</a>
                        </h5>
                        {% if user.is_authenticated %}
                            {% if user.username == post.author|stringformat:"E" %}
                                <a href="{% url 'editpost' post.id%}">Edit</a>
                            {% endif %}
                            <i class="fa fa-thumbs-up"></i>
                        {% endif %}
                        
                        <p class="card-text">{{ post.content }}</p>
                        <p class="card-text"><small class="text-muted">Created {{ post.creation_time }}</small></p>
                    </div>
                </div>
            </div>
        {% empty %}
            No active listings.
        {% endfor %}
    </div>
{% endblock %}