{% extends "network/layout.html" %}

{% block body %}

    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="card-body">
                <h5 class="card-title">
                    {{ schoolName }}
                </h5>
                <h6 class="card-title">
                    Followers: {{ followers }} Following: {{ following }}
                </h6>
                <div>
                    {% if user.is_authenticated %}
                            
                        {% if followed %}
                            <form action="{% url 'unfollow' schoolName %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="author_id" value="{{ author_id }}">
                                <input class="btn btn-sm btn-primary" type="submit" value="Unfollow">
                            </form>
                        {% else %}
                            <form action="{% url 'follow' schoolName %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="author_id" value="{{ author_id }}">
                                <input class="btn btn-sm btn-primary" type="submit" value="Follow">
                            </form>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


    <div id="programs">

        {% for program in programs %}
            {% if program.school.name == schoolName %}
                <div class="card mb-3">
                    <div class="row no-gutters">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{% url 'program' schoolName program.name %}">{{ program.name }}</a>
                            </h5>
                            <h6 class="card-title">
                                <p>{{ program.name }}</p>
                            </h6>
                        </div>
                    </div>
                </div>
            {% endif %}    
        {% empty %}
            No active Programs.
        {% endfor %}

    </div>

{% endblock %}