{% extends "network/layout.html" %}

{% block body %}

    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="card-body">
                <h5 class="card-title">
                    {{ schoolName }}
                </h5>
            </div>
        </div>
    </div>


    <div id="programs">
        
        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="card-body">
                    <h5 class="card-title">

                        {{ program.name }}
                    </h5>
                    <h6 class="card-title">
                        <p>{{ program.name }}</p>
                    </h6>
                </div>
            </div>
        </div>

    </div>
    {% if user.is_authenticated %}
        <div id="mentors">

            {% for student in Students %}
                {% if student.isMentor == True %}
                    <div class="card mb-3">
                        <div class="row no-gutters">
                            <div class="card-body">
                                <h6 class="card-title">
                                    <p>{{ student }}</p>
                                </h6>
                            </div>
                        </div>
                    </div>
                {% endif %}    
            {% empty %}
                There are no mentors for this Program yet.
            {% endfor %}

        </div>
    {% endif %}    


{% endblock %}