{% extends "alternativeSuccess/layout.html" %}

{% block body %}

    <div id = "new_post">
        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="card-body">
                    Welcome to Alternative Success. Your one stop shop for finding a highly ranked
                    and prestigious non-traditional Undergraduate or Graduate degree along with a mentor
                    for that program. 
                </div>
            </div>
        </div>
    </div>

{% endblock %}