{% extends "alternativeSuccess/layout.html" %}

{% block body %}

    <div id="posts">
        {% for program in programs %}

            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{% url 'profile' program.school.id %}">{{ program.school.name }}</a>
                        </h5>
                        <h6 class="card-title">
                            <p>{{ program.name }}</p>
                        </h6>
                    </div>
                </div>
            </div>
        {% empty %}
            No active listings.
        {% endfor %}
    </div>
{% endblock %}