{% extends "alternativeSuccess/layout.html" %}

{% block body %}

    <div id = "new_post">
        {% if user.is_authenticated %}
            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="card-body">
                        <form action="{% url 'newschool' %}" method="post">
                            {% csrf_token %}
                            Add School
                            <div class="form-group">
                                <input autofocus class="form-control" type="text" name="body" placeholder="">
                            </div>
                            <input class="btn btn-primary" type="submit" value="Post">
                        </form>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

    <div id = "new_program">
        {% if user.is_authenticated %}
            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="card-body">
                        <form action="{% url 'newprogram' %}" method="post" novalidate>
                            {% csrf_token %}
                            Add Program to School
                            <select name="schooloptions">
                                {% for school in schools %}
                                    <option value="{{ school.name }}">{{ school.name }}</option>
                                {% endfor %}
                            </select>
                            <div class="form-group">
                                <input autofocus class="form-control" type="text" name="programname" placeholder="">
                            </div>
                            <input class="btn btn-primary" type="submit" value="Post">
                        </form>                        
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    
    <div id="posts">
        {% for program in programs %}

            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{% url 'profile' program.school.id %}">{{ program.school.name }}</a>
                        </h5>
                        <h6 class="card-title">
                            <p>{{ program.name }}</p>
                        </h6>
                    </div>
                </div>
            </div>
        {% empty %}
            No active listings.
        {% endfor %}
    </div>
{% endblock %}